@import '../../../styles/vars';

.snapshotsContainer{
    flex-direction: row;
    border-bottom: solid 1px #374148;
    padding-bottom: 30px;
    justify-content: space-between;
    display: flex;
    .contentContainer {
        display: flex;
        flex-direction: row;
        flex-grow: 5;
        justify-content: space-between;
        .snapshotContainer {
            display: flex;
            flex-direction: column;
            .amount {
                color: white;
                font-size: 24px;
                text-align: left;
                margin: 0px
            }
            .title {
                font-size: 12px;
                color: $color-steel-grey;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .breakWidth {
        display: flex;
        flex-grow: 2;
    }
}

